body {
}

.bluebox {
    border: 2px solid grey;
    background-color: Highlight;
    width: 400px;
    padding: 40px;
    margin-top: 20px;
    margin-left: 80px; 
    margin-right: 150px;
    margin-bottom: 10px;
    padding-bottom: 170px;
    
     
}

.bluebox2 {

    border: 2px solid grey;
    background-color: Highlight;
    width: 420px;
    padding: 40px;
    margin-top: 20px;
    margin-left: 20px; 
    margin-right: 170px;
    margin-bottom: 10px;
    padding-bottom: 130px;

}

.please {

    border: 2px solid grey;
    background-color: Highlight;
    width: 390px;
    padding: 40px;
    margin: auto;
    margin-top: 20px;   
    padding-bottom: 240px;
     
      
}


.centeralign {

    text-align: center;

}

.accbox {

    border: 2px solid grey;
    background-color: Highlight;
    width: 420px;
    padding: 40px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 150px;

}

p {

    font-size: 19px;
    
}

a:link {

    color: black;
}

a:visited {

    color: purple;
}
