@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="form-group col-md-5">
        <div class="bluebox">
            <div class="centeralign">
                <h2><b>Account Controls</b></h2>
                <p><a href="@Url.Action("Index", "AdminAccounts")">View Admin Accounts</a></p>
                <p><a href="@Url.Action("Index", "")">View Hospital/Clinic Clerk Accounts</a></p>
                <p><a href="@Url.Action("Index", "")">View Hospital/Clinic Admin Accounts</a></p>
                <p><a href="@Url.Action("Index", "UserAccounts")">View Public User Accounts</a></p>
            </div>
        </div>
    </div>
</div>
