
<div>
        <div class="col-md-9">
            <div class="bluebox">
                <div class="centeralign">
                    <h2><b>Admin Controls</b></h2>
                   
                    <p><a href="@Url.Action("Index", "AdminAccounts")">Account Controls </a></p>
                    <p><a href="@Url.Action("Index", "ListingControls")">Listing Controls </a></p>
                </div>
            </div>
         </div>
    
    <div class="col-md-offset-9">
        <div class="bluebox2">
            <div class="centeralign">
                <h2>Manage Appointments</h2>

                <p><a href="http://go.microsoft.com/fwlink/?LinkId=301872">View Booked Appointments</a></p>
                <p><a href="http://go.microsoft.com/fwlink/?LinkId=301872">View Appointment Requests</a></p>
                <p><a href="http://go.microsoft.com/fwlink/?LinkId=301872">View Appointment Update Requests</a></p>
            </div>
        </div>
   </div>
</div>
