
@{
    ViewBag.Title = "Index";
}

<link href="~/content/container.css" rel="stylesheet" />

<h2>Welcome!</h2>

<body class="loginBody">

    @if (User.Identity.IsAuthenticated)
    {
        <hr />
        <br />

        <button class="btn btn-primary" type="button" value="Page"
                onclick="location.href='@Url.Action("Menu", "Home", new { id = "loginLink" })'">
            Click Here to access admin controls
        </button>
        <br />
    }
    else
    {
        <hr />
        <br />

        <button class="btn btn-primary" type="button" value="Page"
                onclick="location.href='@Url.Action("Login", "Account", new { id = "loginLink" })'">
            Click Here to Login
        </button>
        <br />
    }

</body>
