...................

@model DAMS_03.Models.DoctorDentist
@{
    ViewBag.Title = "ViewSchedule";
}
<!-- Container.css -->
<link rel="stylesheet" href="~/Content/Container.css" type="text/css" />
<!-- jQuery & Bootstrap CDN -->
<script src="~/scripts/jquery.min.js"></script>
<link href="~/content/bootstrap.min.css" rel="stylesheet" />
<script src="~/scripts/bootstrap.min.js"></script>
<!-- Zabuto Calendar -->
<script src="~/scripts/zabuto_calendar.min.js"></script>
<link href="~/content/zabuto_calendar.min.css" rel="stylesheet" />
<h2>View Dentist Schedule</h2>
<hr />
<div>
   <div class="row">
        <div class="form-group col-xs-8">
            <div id="date-popover" class="popover top">
                <div id="date-popover-content" class="popover-content"></div>
            </div>

            <div id="dentist-schedule"></div>
            <style>
                .white {
                    background-color: whitesmoke;
                }

                .indianred {
                    background-color: indianred;
                }

                .darkgrey {
                    background-color: darkgrey;
                }
            </style>
        </div>
        <br /><br /><br />
        <div class="form-group col-xs-offset-4  ">
            <div id="apptDetails">
                <h2><b>Schedule Details </b></h2>
                <div>
                    <p>
                        <label>Date : </label>
                        <label id="lblDate"></label>
                    </p>
                    <p>
                        <label>Time Slot : </label>
                        <select id="timeSlotSelect" name="timeSlotSelect">
                            <option value="1">8am-10am</option>
                            <option value="2">10am-12pm</option>
                            <option value="3">1pm-3pm</option>
                            <option value="4">3pm-4pm</option>
                            <option value="5">5pm-6pm</option>
                        </select>
                    </p>
                    <p>
                        <label>Status :</label>
                        <label id="lblStatus"></label>
                    </p>
                    <p>
                        <label>Appointment ID :</label>
                        <label id="lblApptID"></label>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <button class="btn btn-success" type="button"
                onclick="location.href='@Url.Action("Index", "DoctorDentists")'">
            Back to Doctor/Dentist Details
        </button>
    </div>
</div>
<script>
    $(document).ready(function () {

        // Settle the calendar first
    $("#dentist-schedule").zabuto_calendar({
        action: function () {
            return onClickDate(this.id, false);
        },
        action_nav: function () {
            return myNavFunction(this.id);
        },
        legend: [
            {type: "block", label: "No Bookings", classname: 'white'},
            { type: "block", label: "With Bookings", classname: 'indianred' },
            {type: "block", label: "Off Day", classname: 'darkgrey'}
        ]
    });

        // Getting Current Date, Month & Year
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        loadAppointments(yyyy, mm);

        function onClickDate(id, fromModal) {
            $("#date-popover").hide();
            if (fromModal) {
                $("#" + id + "_modal").modal("hide");
            }
            var date = $("#" + id).data("date");
            $('#lblDate').html(date);
            getNumberOfBookings(date);
        } // End of onClickDate() method

        function myNavFunction(id) {
            $("#date-popover").hide();
            if (id.endsWith("nav-next")) {
                mm++;
                if (mm > 12) {
                    yyyy++;
                    mm = 1;
                }
            } else if (id.endsWith("nav-prev")) {
                mm--;
                if (mm < 1) {
                    yyyy--;
                    mm = 12;
                }
            }
            loadAppointments(yyyy, mm);
        } // End of myNavFunction() method

        // The function to get docDenID from the browser's string in the address bar
        function getDoctorDentistIDfromAddressBar() {
            var urlArray = window.location.href.split('/');
            var ddID = urlArray[urlArray.length - 1];
            return ddID;
        }

        // Funcition to get number of bookings on a specific day
        function getNumberOfBookings(date) {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: '/DoctorDentists/GetByDocDenID/' + getDoctorDentistIDfromAddressBar(),
                success: function (data) {
                    var numOfBookings = 0;
                    $.each(data, function (index, item) {
                        if (date == item.DateOfBookings) {
                            numOfBookings = item.Bookings;
                        }
                    });
                    displayPopOver(date, numOfBookings);
                }
            })
        } // End of getNumberOfBookings() method

        function loadAppointments(cYear, cMonth) {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: '/DoctorDentists/GetByDocDenID/' + getDoctorDentistIDfromAddressBar(),
                success: function (data) {
                    myData = data;
                    $.each(data, function (index, item) {
                        yearMonthDay = item.DateOfBookings.split("-");
                        if (yearMonthDay[0] == cYear &&
                            yearMonthDay[1] == cMonth) {
                            var dDate = $('[id^="zabuto_calendar"][id$="-' + yearMonthDay[2] + '_day"]');
                            dDate.removeClass('day');
                            dDate.addClass('day indianred');
                        }
                    });
                }
            });
        } // End of loadAppointments() method

        // Function to get the appt status on a specific date & time slot for the docDentist
        function getApptStatus(date, selectedTimeSlot) {
            var displayMsg = "Available";
            var apptID = "Null";
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: '/Appointments/GetApptByDocDenID/' + getDoctorDentistIDfromAddressBar(),
                success: function (data) {
                    myData = data;
                    $.each(data, function (index, item) {
                        yearMonthDay = item.AppointmentDate.split("-");
                        if (date == item.AppointmentDate &&
                                selectedTimeSlot == item.AppointmentTime) {
                            displayMsg = "Booked";
                            apptID = item.AppointmentID;
                        }
                    });
                    displayStatus(displayMsg, apptID);
                }
            });
        } // End of getApptStatus() method

        document.getElementById("timeSlotSelect").onchange = function () {
            var chosenDate = $("#lblDate").text();
            getApptStatus(chosenDate, $('#timeSlotSelect').val());
        }

        // Function to display the number of bookings in a popover
        function displayPopOver(date, numOfBookings) {
            if (numOfBookings == 0) {
                $("#date-popover-content").html("The Doctor/Dentist has no bookings on " + date);
            } else {
                $("#date-popover-content").html("The Doctor/Dentist has " + numOfBookings + " booking(s) on " + date);
            }
            $("#date-popover").show();
        } // End of displayPopOver() method

        // Funtion to display the appointment's status and ID
        function displayStatus(displayStatus, apptID) {
            $('#lblStatus').html(displayStatus);
            $('#lblApptID').html(apptID);
        } // End of displayStatus()

    });

</script>