@model DAMS_03.Models.DoctorDentist

@{
    ViewBag.Title = "ViewSchedule";
}

<!-- Container.css -->
<link rel="stylesheet" href="~/Content/Container.css" type="text/css" />

<!-- jQuery & Bootstrap CDN -->
<script src="~/scripts/jquery.min.js"></script>
<link href="~/content/bootstrap.min.css" rel="stylesheet" />
<script src="~/scripts/bootstrap.min.js"></script>

<!-- Zabuto Calendar -->
<script src="~/scripts/zabuto_calendar.min.js"></script>
<link href="~/content/zabuto_calendar.min.css" rel="stylesheet" />

<h2>View Dentist Schedule</h2>
<hr />
<div>
    <div class="row">
        <div class="form-group col-xs-8">
            <div id="date-popover" class="popover top">
                <div id="date-popover-content" class="popover-content"></div>
            </div>

            <div id="dentist-schedule"></div>
                <style>
                    .white {
                        background-color: whitesmoke;
                    }

                    .red {
                        background-color: red;
                    }

                    .darkgrey {
                        background-color: darkgrey;
                    }
                </style>

            <script type="application/javascript">
         $(document).ready(function () {
         $("#dentist-schedule").zabuto_calendar({
                action: function () {
                    return onClickDate(this.id, false);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                show_previous: false,
                legend: [
                    {type: "block", label: "Available", classname: 'white'},
                    {type: "block", label: "Fully Booked", classname: 'red'},
                    {type: "block", label: "Off Day", classname: 'darkgrey'}
                ]
            });
           });
    </script>
        </div>
        <br /><br /><br />
        <div class="form-group col-xs-offset-4  ">
            <div id="apptDetails"> 
                <h2><b>Schedule Details </b></h2>
                <div>
                    <p>
                        <label>Date : </label>
                        <label id="lblDate"></label>
                    </p>
                    <p>
                        <label>Time Slot : </label>
                        <select id="timeSlotSelect" name="timeSlotSelect">
                            <option value="item1">9am-10am</option>
                            <option value="item2">10am-11am</option>
                            <option value="item3">11am-12pm</option>
                        </select>
                    </p>
                    <p>
                        <label>Status :</label>
                        <label id="lblStatus"></label>
                    </p>
                    <p>
                        <label>Appointment ID :</label>
                        <label id="lblApptID"></label>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <button class="btn btn-success" type="button"
                onclick="location.href='@Url.Action("Index", "DoctorDentists")'">
            Back to Doctor/Dentist Details
        </button>
    </div>
</div>

    <script>

        @foreach(var dddbItem in ViewBag.mymyDDDBList)
        {
            Console.WriteLine(dddbItem);
        }

        $(document).ready(function () {
            // rmb to put 0 in front of the integer 1-9
            var date1 = $('[id^="zabuto_calendar"][id$="-07_day"]');
            date1.removeClass('day');
            date1.addClass('day red');

            for (sunday = 2; sunday < 31; sunday = sunday + 7) {
                var offDay = $('[id^="zabuto_calendar"][id$="-' + sunday + '_day"]');

                if (sunday < 10) {
                    offDay = $('[id^="zabuto_calendar"][id$="-0' + sunday + '_day"]');
                }

                offDay.removeClass('day');
                offDay.addClass('day darkgrey');
            }
        });

        document.getElementById("timeSlotSelect").onchange = function () {
            updateApptStatus($('#timeSlotSelect').val());
        }

        function onClickDate(id) {
            // Updating the DATE
            var selectedDate = $("#" + id).data("date");
            $('#lblDate').html(selectedDate);

            // Popover view for selected date
            $("#date-popover").hide();
            $("#date-popover-content").html('You clicked on date ' + selectedDate);
            $("#date-popover").show();
         
            return true;
        }

        function updateApptStatus(selectedTimeSlot) {
            if (selectedTimeSlot == "item1") {
                $('#lblStatus').html("Available");
            } else {
                $('#lblStatus').html("Booked");
            }
        }
    </script>
