...................

@model DAMS_03.Models.DoctorDentist

@{
    ViewBag.Title = "ViewSchedule";
}

<!-- Container.css -->
<link rel="stylesheet" href="~/Content/Container.css" type="text/css" />

<!-- jQuery & Bootstrap CDN -->
<script src="~/scripts/jquery.min.js"></script>
<link href="~/content/bootstrap.min.css" rel="stylesheet" />
<script src="~/scripts/bootstrap.min.js"></script>

<!-- Zabuto Calendar -->
<script src="~/scripts/zabuto_calendar.min.js"></script>
<link href="~/content/zabuto_calendar.min.css" rel="stylesheet" />

<h2>View Dentist Schedule</h2>
<hr />
<div>
    @*<div class="row">*@
    <div class="form-group col-xs-10">
        <div id="date-popover" class="popover top">
            <div id="date-popover-content" class="popover-content"></div>
        </div>

        <div id="dentist-schedule"></div>
        <style>
            .white {
                background-color: whitesmoke;
            }

            .indianred {
                background-color: indianred;
            }

            .darkgrey {
                background-color: darkgrey;
            }
        </style>
    </div>
    @*<br /><br /><br />
        <div class="form-group col-xs-offset-4  ">
            <div id="apptDetails">
                <h2><b>Schedule Details </b></h2>
                <div>
                    <p>
                        <label>Date : </label>
                        <label id="lblDate"></label>
                    </p>
                    <p>
                        <label>Time Slot : </label>
                        <select id="timeSlotSelect" name="timeSlotSelect">
                            <option value="item1">9am-10am</option>
                            <option value="item2">10am-11am</option>
                            <option value="item3">11am-12pm</option>
                        </select>
                    </p>
                    <p>
                        <label>Status :</label>
                        <label id="lblStatus"></label>
                    </p>
                    <p>
                        <label>Appointment ID :</label>
                        <label id="lblApptID"></label>
                    </p>
                </div>
            </div>
        </div>*@
</div>
<br /><br />
<div class="form-group">
    <button class="btn btn-success" type="button"
            onclick="location.href='@Url.Action("Index", "DoctorDentists")'">
        Back to Doctor/Dentist Details
    </button>
</div>
@*</div>*@

<script>
    $(document).ready(function () {

        // Settle the calendar first
    $("#dentist-schedule").zabuto_calendar({
        action: function () {
            return onClickDate(this.id, false);
        },
        action_nav: function () {
            return myNavFunction(this.id);
        },
        legend: [
            {type: "block", label: "No Bookings", classname: 'white'},
            { type: "block", label: "With Bookings", classname: 'indianred' },
            {type: "block", label: "Off Day", classname: 'darkgrey'}
        ]
    });

        // Getting Current Date, Month & Year
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();

        loadAppointments(yyyy, mm);

        function onClickDate(id, fromModal) {
            $("#date-popover").hide();
            if (fromModal) {
                $("#" + id + "_modal").modal("hide");
            }
            var date = $("#" + id).data("date");

            getNumberOfBookings(date);
        } // End of onClickDate() method


        function myNavFunction(id) {
            $("#date-popover").hide();
            if (id.endsWith("nav-next")) {
                mm++;
                if (mm > 12) {
                    yyyy++;
                    mm = 1;
                }
            } else if (id.endsWith("nav-prev")) {
                mm--;
                if (mm < 1) {
                    yyyy--;
                    mm = 12;
                }
            }
            loadAppointments(yyyy, mm);
        } // End of myNavFunction() method

        function getNumberOfBookings(date){
            calendarYMD = date.split("-");
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: '/DoctorDentists/GetByDocDenID/' + getDoctorDentistIDfromAddressBar(),
                success: function (data) {
                    myData = data
                    var numOfBookings = 0;
                    $.each(data, function (index, item) {
                        yearMonthDay = item.DateOfBookings.split("-");
                        if (yearMonthDay[0] == calendarYMD[0] &&
                            yearMonthDay[1] == calendarYMD[1] &&
                            yearMonthDay[2] == calendarYMD[2]) {
                            numOfBookings = item.Bookings;
                        }

                    });
                    displayPopOver(date, numOfBookings);
                }
            })
        } // End of getNumberOfBookings() method

        function displayPopOver(date, numOfBookings){
            if(numOfBookings == 0){
                $("#date-popover-content").html("The Doctor/Dentist has no bookings on " + date);
            }else{
                $("#date-popover-content").html("The Doctor/Dentist has " + numOfBookings + " booking(s) on " + date);
            }

            $("#date-popover").show();
        } // End of displayPopOver() method

        function loadAppointments(cYear, cMonth) {
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'GET',
                url: '/DoctorDentists/GetByDocDenID/' + getDoctorDentistIDfromAddressBar(),
                success: function (data) {
                    myData = data;
                    $.each(data, function (index, item) {
                        yearMonthDay = item.DateOfBookings.split("-");
                        if (yearMonthDay[0] == cYear && yearMonthDay[1] == cMonth) {
                            var dDate = $('[id^="zabuto_calendar"][id$="-' + yearMonthDay[2] + '_day"]');
                            dDate.removeClass('day');
                            dDate.addClass('day indianred');
                        }
                    });
                }
            });
        } // End of loadAppointments() method

        // ---------- DELETE LATER
        // rmb to put 0 in front of the integer 1-9
        //var date1 = $('[id^="zabuto_calendar"][id$="-07_day"]');
        //date1.removeClass('day');
        //date1.addClass('day red');

        //for (sunday = 2; sunday < 31; sunday = sunday + 7) {
        //    var offDay = $('[id^="zabuto_calendar"][id$="-' + sunday + '_day"]');

        //    if (sunday < 10) {
        //        offDay = $('[id^="zabuto_calendar"][id$="-0' + sunday + '_day"]');
        //    }

        //    offDay.removeClass('day');
        //    offDay.addClass('day darkgrey');
        //} // ----------
    });

    //document.getElementById("timeSlotSelect").onchange = function () {
    //    updateApptStatus($('#timeSlotSelect').val());
    //}

    // The function that returns doctordentist ID from the browser's string in the address bar
    function getDoctorDentistIDfromAddressBar() {
        var urlArray = window.location.href.split('/');
        var ddID = urlArray[urlArray.length - 1];
        return ddID;
    }

    //function updateApptStatus(selectedTimeSlot) {
    //    if (selectedTimeSlot == "item1") {
    //        $('#lblStatus').html("Available");
    //    } else {6
    //        $('#lblStatus').html("Booked");
    //    }
    //}
</script>
